.DS_Store

# AISH configuration / environment variables (includes secrets not to be included in repo)
# e.g. API keys
.env
.env.local

*.private
*.private.json

*jaba*
*.bak.*
*.bak

# Python
__pycache__
*.pyc

# Virtualenv
venv_*

# pyinstaller
build
dist
*.spec

results.txt

# Some resources, but only in the project dir itself.
*.zip
*.mp4

# AISH workspace automatic backups
*_?.json
*_??.json
*_???.json

# Cosine
.cosine/**


